@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url('./../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-position 1.5s ease-out;
}

@layer components {
  .btn-social {
    @apply flex items-center px-6 py-3 rounded-lg border transition-colors;
  }
}
