@import "tailwindcss";

body {
  font-family: 'Pacifico', cursive;
  font-size: 1.2rem;
  background-color: transparent;
  background-image: url('./../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-position 1.5s ease-out;
}
