@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url('./../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-position 1.5s ease-out;
}

@layer components {
  .btn-social {
    @apply flex items-center px-6 py-3 rounded-lg border transition-colors;
  }

  .project-card {
    @apply p-5 rounded-xl border-2 transition-all shadow-xl;
  }

  .card-wrapper {
    @apply flex flex-col gap-3 h-full;
  }

  .card-header {
    @apply font-bold text-lg transition-colors;
  }

  .card-description {
    @apply text-black text-sm grow;
  }

  .card-tech {
    @apply flex flex-wrap gap-2;
  }

  .card-tech-badge {
    @apply px-2 py-1 rounded text-xs;
  }

  .card-tech-badge-docker { @apply px-2 py-1 rounded text-xs bg-green-700/80 text-green-100; }
  .card-tech-badge-git { @apply px-2 py-1 rounded text-xs bg-stone-600/80 text-stone-200; }
  .card-tech-badge-caddy { @apply px-2 py-1 rounded text-xs bg-yellow-600/80 text-yellow-100; }
  .card-tech-badge-nginx { @apply px-2 py-1 rounded text-xs bg-gray-500/80 text-gray-50; }
  .card-tech-badge-php { @apply px-2 py-1 rounded text-xs bg-blue-600/80 text-blue-100; }
  .card-tech-badge-laravel { @apply px-2 py-1 rounded text-xs bg-red-700/80 text-red-50; }
  .card-tech-badge-api-platform { @apply px-2 py-1 rounded text-xs bg-sky-600/80 text-sky-100; }
  .card-tech-badge-postgre-sql { @apply px-2 py-1 rounded text-xs bg-purple-600/80 text-purple-100; }
  .card-tech-badge-my-sql { @apply px-2 py-1 rounded text-xs bg-purple-500/80 text-purple-50; }
  .card-tech-badge-javascript { @apply px-2 py-1 rounded text-xs bg-amber-500/80 text-amber-50; }
  .card-tech-badge-vue-js { @apply px-2 py-1 rounded text-xs bg-cyan-600/80 text-cyan-100; }
  .card-tech-badge-quasar { @apply px-2 py-1 rounded text-xs bg-violet-800/80 text-violet-100; }
  .card-tech-badge-tailwind { @apply px-2 py-1 rounded text-xs bg-pink-600/80 text-pink-50; }
  .card-tech-badge-bootstrap { @apply px-2 py-1 rounded text-xs bg-fuchsia-600/80 text-fuchsia-50; }

  .card-tech-badge-typescript { @apply px-2 py-1 rounded text-xs bg-black/80 text-gray-100; }
  .card-tech-badge-symfony { @apply px-2 py-1 rounded text-xs bg-emerald-600/80 text-blue-100; }
  .card-tech-badge-golang { @apply px-2 py-1 rounded text-xs bg-lime-700/80 text-lime-100; }
  .card-tech-badge-node-js { @apply px-2 py-1 rounded text-xs bg-amber-900/80 text-amber-50; }
  .card-tech-badge-react { @apply px-2 py-1 rounded text-xs bg-cyan-800/80 text-cyan-100; }

  .card-links {
    @apply flex flex-wrap gap-2;
  }

  .card-link {
    @apply font-bold text-sm text-black/70;
  }
}
